services:
  deviantart_downloader:
    container_name: deviantart_downloader
    build: .
    env_file: .env
    environment:
      - CLIENT_ID=${ID}
      - CLIENT_SECRET=${SECRET}
      - USERNAME=${USER}
      - SAVE_DIR=/downloads
      - DB_PATH=/downloads/deviantart.db
      - LOG_PATH=/downloads/downloader.log
      - SLEEP_TIME=2.5
      - MAX_RETRIES=10
      - RATE_LIMIT_SLEEP=120
      - FORCE_RECHECK=false   # Set to true to force re-check from start
      - DOWNLOAD_SUBSCRIPTIONS=false
    volumes:
      - ./downloads:/downloads
  autotagger-deviantart:
      container_name: autotagger-deviantart
      image: ghcr.io/danbooru/autotagger
      depends_on:
        - deviantart_downloader